#set the directory of radius dictionary.
radius_dict_directory "/usr/local/nginx/raddb/";

#radius server configuration including

radius_server "radius_server1" {
    #authentication timed-out
    auth_timeout 5;

    #limit to resend the request
    resend_limit 3;

    #radius authentication server url.
    url "${RADIUS_SERVER_URL}";

    #share secret
    share_secret "${RADIUS_SERVER_SECRET}";
}
